* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html,
body {
  height: 100%;
  color: #000;
}

body {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

  background: #fff;
  font-family: "Roboto", helvetica, arial, sans-serif;
}

#content-wrapper {
  width: 100%;
  position: absolute;
}

.login-form {
  width: 100%;
  padding: 2em;
  position: relative;
  background: #282727;
  margin-top: 50px;

  &:before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    height: 2px;
    width: 100%;

    background: linear-gradient(to right, #35c3c1, #00d6b7);
  }
}

.flex-row {
  display: flex;
  margin-bottom: 1em;
}

.lf--input {
  flex: 1;
  padding: 1em;
  border: 0;
  color: gray;

  &:focus {
    outline: none;
    transition: transform 0.15s ease;
    transform: scale(1.1);
  }
}

.lf--submit {
  display: block;
  padding: 1em;
  width: 100%;

  background: linear-gradient(to right, #35c3c1, #00d6b7);
  border: 0;
  color: #dbdfea;
  cursor: pointer;
  font-weight: 600;
  text-shadow: 0 1px 0 #2d2d2d;

  &:focus {
    outline: none;
    transition: transform 0.15s ease;
    transform: scale(1.1);
  }
}

.lf--link {
  color: #00d6b7;
  text-align: center;
  position: relative;
}

::placeholder {
  color: gray;
}

.is-invalid {
  color: #d71b1b;
}
